.welcome_block {
  margin: 20px auto;
  display: flex;
  align-items: center;
  width: 90%;
  font-weight: 500;
  font-size: 38px;
  line-height: 114%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #0297A6;
}

#aboutus {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #c85517;
  margin: 50px;
}

#aboutus a {
  color: #0297a6;
}

#aboutus a:hover {
  color: #023237;
  transition-delay: 1s;
}

.inspiring_container {
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  line-height: 124%;
  letter-spacing: -0.02em;
  color: #c85517;

}

.first_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 40px;

}

.first_container p {
  width: 50%;
}