.aboutus  {
  max-width: 1000px;
  padding: 200px 100px 0;
  height: 100vh;

}


.aboutus p {
    font-size: 25px;
    line-height: 94.5%;
    letter-spacing: -0.04em;
    color: #c85517;
  }
  
  .aboutus a {
    color:#0297a6;
  }

  .aboutus a:hover {
    color:  #023237;
    transition-delay: 1s;
  }