
.aboutus p {
    font-size: 25px;
    line-height: 94.5%;
    text-align: justify;
    letter-spacing: -0.04em;
    color: #c85517;
    margin-top: 250px;
  }
  
  .aboutus a {
    color:#0297a6
  }

  .aboutus a:hover {
    color:  #023237;
    transition-delay: 1s;
  }