.signup_wrapper {
    /* height: 100vh; */
    padding: 20px 0;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start
}

.signup__content {
    margin: 20px;
    padding: 10px;
    border-radius: 12px;
    width: 90%;
    /* height: 100%; */
    background-image: url("../../images/background_login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(237, 237, 220);


}

.exist_container {
    visibility: hidden;
}

.exist_container.visible {
    visibility:visible;
    color: red;
    text-align: center;
    background-color: yellow;
    padding: 0;
    font-weight: 700;
  font-size: 36px;

}