.signin__wrapper {
    height: 100vh;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.signin__wrapper a{
  align-self: flex-start;
}

.signin__content {
    padding: 20px;
    border-radius: 12px;
    width: 40vw;
    background-image: url("../../images/background_login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(237, 237, 220);
    margin-top: 100px;
}

.logo_name {
    font-weight: 700;
    font-size: 45px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #C85517;
}

.signin_login_button {
    text-align: center;
}
