footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #0297a6;
  font-size: 12px;
}


.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 8px 10px 0px 8px;

}

ul {
  list-style: none;
}

.copyright {
  text-align: center;
  color: white;

}

.logos ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.occ,
.lab {
  padding-right: 20px;
  margin-top: 10px;

}

nav a, nav li,
.language-selector p {
  color: white;
}

nav ul li a:hover, nav ul li:hover {
  color: #a64602;
  cursor: pointer;
  text-decoration:none
}