footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px; 
  z-index: 1;
  background-color: #0297a6;
}


.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 15px 10px 0px 10px;

}

ul {
  list-style: none;
}

.copyright {
  text-align: center;
  color: white;
  
}

.logos ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.occ, .lab{
  padding-right: 20px;
  margin-top: 20px;

}

nav a, .language-selector p{
  color: white;
}

nav ul li a:hover {
  color: #a64602;
  transition-delay:.1s ;
}