footer {
  background-color: #0297a6;
  max-height: 200px;
}


.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10px;

}

ul {
  list-style: none;
}

.copyright {
  text-align: center;
}

.logos ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.occ, .lab{
  padding-right: 20px;
}

nav a, .language-selector p{
  color: white;
}