
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0297A6;
  border-radius: 100px;
  opacity: .85;
  height: 300px;
  width: 100%;
  position: absolute;
  bottom:0;

}
/*
footer {
    height: 7vh;
    padding: 20px;
    background-color: #0297A6;
    
  } */

  ul{
    list-style: none;
    position: absolute;
    bottom:0;
    margin-bottom: 100px;
    color: white;
    margin-left: 10px;
  }

  .copyright {
    display:flex;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
  }

  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 10px 10px 10px;

  }

  .language-selector{
    display: flex;
    align-items: left;
    position: absolute;
    bottom:0;
    margin-left: 50px;
    margin-bottom: 200px;
    
  }

nav a, .language-selector p{
  color: white;
}

