header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 1;
  background-color: #0297a6;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-top: 10px;
}

.buttons_wrapper {
  display: flex;
  justify-content: right;
  /* align-items: center; */
}

.create_button {
  margin-right: 20px;
}
