header {
 background-color:  #0297A6;;
  height: 110px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-top: 10px;

}



.buttons_wrapper {
  display: flex;
  justify-content: right;
  /* align-items: center; */
}

.create_button {
  margin-right: 20px;
}


  