@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

html {
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 500;
  background-image: url("./images/back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

h1 {
  overflow: hidden;
  width: 1px;
  height: 1px;
}

h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #0297A6;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.button {
  width: 145px;
  padding: 5px 33px;
  background: #C85517;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #F5F5F5;
  border: none;
}

.button:hover, .button:active {
  cursor: pointer;
  background: #e25408;
}



.btn-primary {
  width: 160px;
  padding: 5px 33px;
  background: #C85517;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #F5F5F5;
  border: none;
}

@media screen and (max-width: 600px) {
.button {
  width: 130px;
  padding: 5px 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
}

