html {
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
  margin: 0;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  background-image: url("./images/back.png");
  background-repeat: no-repeat;
  background-size: auto;
  /* background-color: #cccccc; */

}

h1 {
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;

}
