html {
  box-sizing: border-box;
  overflow-x: hidden;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* display: inline-block; */

}

h1 {
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;

}


