.faq {
  max-width: 1000px;
  padding: 200px 100px 0;
  height: 100vh;
}

.faq p{
    font-size: 25px;
    line-height: 94.5%;
    text-align: justify;
    letter-spacing: -0.04em;
    color: #c85517;
    display: block;
  }

